</body>
<footer>
  <div class='container'>
      <div class='row'>
        <div class='col-sm-6'>
            <h5>Contact</h5>
            US: +1 (408) 359-7947<br>
            CA: +1 (514) 431-8760<br>
            wushirley88@gmail.com<br>
        </div>
        <div id='contactComponent' class='col-sm-6'>
           
        </div>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-12 copyright-info'>
          Shirley Wu &#169; {{ site.time | date: '%Y' }}
        </div>
      </div>
      <br>
  </div>
</footer>
  <script src='/assets/components/jquery/dist/jquery.min.js' type='text/javascript'></script>
  <script src='/assets/components/bootstrap/dist/js/bootstrap.min.js' type='text/javascript'></script>
  <script src='/assets/components/react/react.min.js' type='text/javascript'></script>
  <script src='/assets/components/react/JSXTransformer.js' type='text/javascript'></script>
  <script src='/assets/components/bootbox/bootbox.js' type='text/javascript'></script>
  <script src='/assets/scripts/contactComponent.js' type='text/jsx'></script>
</html>
