</body>
<footer>
  <div class='container'>
      <div class='row'>
        <div class='col-sm-5'>
            <b>Contact</b><br>
            CA: +1 (647) 697-8031<br>
            Email: info@opusone.ca<br>
        </div>
        <div id='contactComponent' class='col-sm-7'>
           
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12 copyright-info'>
          Shirley Wu &#169; {{ site.time | date: '%Y' }}
        </div>
      </div>
  </div>
</footer>
  <script src='/assets/components/jquery/dist/jquery.min.js' type='text/javascript'></script>
  <script src='/assets/components/bootstrap/dist/js/bootstrap.min.js' type='text/javascript'></script>
  <script src='/assets/components/react/react.min.js' type='text/javascript'></script>
  <script src='/assets/components/react/JSXTransformer.js' type='text/javascript'></script>
  <script src='/assets/components/bootbox/bootbox.js' type='text/javascript'></script>
  <script src='/assets/scripts/contactComponent.js' type='text/jsx'></script>
  <script src="/assets/scripts/main.js"></script>
</html>
