<header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Opus One Music Studio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Performance <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/performance">Performance Video</a></li>
                  <li><a href="/repertoire-list">Repertoire List</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Studio <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/studio-introduction">Introduction</a></li>
                  <li><a href="/studio-materials">Studio Materials</a></li>
                  <li><a href="/studio-gallery">Studio Gallery</a></li>
                  <li><a href="/studio-policy">Studio Policy</a></li>
                  <li><a href="/assets/pdf/Opus_One_Music_Studio_Student Registration_Form.pdf">Studio Enrollment Form</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Biography <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/biography">Shirley Wu</a></li>
                  <li><a href="/biography#werner">Werner Chan</a></li>
                </ul>
            </li>
            <li><a href="/events">Events</a></li>
            <li><a href='http://shirleywu.me'>Blog</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
