.navbar {
    background: #fff;
    border:0;
    border-top:3px solid #FF6A6A;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
}

img {
    width: 100%;
}

.center {
    text-align: center;
}

footer {
    padding-top: 15px;
    border-top: 1px solid #e7e7e7;
}

.banner {
    background: url(/assets/img/shirleywu.jpg) center no-repeat;
    height:290px;
}

.row {
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .margin-bot-small {
        margin-bottom: 15px;
    }
}